.goal-item{
     width:100%;
     margin:auto;
     border-radius: 15px;
     box-shadow: 0px 0px 10px #00000015;
     transition: 0.3s;
     animation: fadeIn 1s;

}
 .goal-item-image{
     width: 100%;
     height: 100%;
     display: block;
     object-fit: cover;
     border-radius: 15px 15px 0px 0px;
}
 .goal-item-info{
     padding: 20px;

}

.goal-item-rating p{
     font-size: 20px;
     font-weight: 500;
} 
.goal-item-rating{
     
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom:10px;
     
}
.goal-item-img-container{
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
}
.goal-item-img-container .add{
     width: 35px;
     position: absolute;
     bottom: 15px;
     right: 15px;
     cursor: pointer;
     border-radius: 50%;
}

.btn1{
     margin-top: 1rem;
     border-radius: 10px;
     width: 160px;
     height:60px;
     background: #fffaea;
     color:black;
     text-align:center;
     
     a{
          
          font-weight: 600;
          &:hover{
               color:#63c;
          }
     }

}
/* button */

 
/* button */


.goal-item-counter{
     position: absolute;
     bottom: 15px;
     right: 15px;
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 6px;
     border-radius: 50px;
     background-color: white;
}
.food-item-counter img{
     width: 30px;
}